<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%-40(%d{ISO8601}\(%X{akkaTimestamp}\)) %X{sourceActorSystem} %X{akkaSource} [%X{sourceThread}]\(%thread]\) marker=[%marker] %-5level %logger - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- see: https://stackoverflow.com/questions/21091536/stop-quartz-debug-logging-log4j -->
  <logger name="org.quartz" level="WARN"/>

  <root level="${rootLogLevel:-DEBUG}">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>